/* 코드 점검 중 #1 */

/* 사용자 설정 부분 (모바일용) */
:root {
	--bgColor: #EAEFF7;   /* 배경 색 */
	--mainColor: #44577C;   /* 메인 컬러 */
	--mainColor3: #D8DDE8; /* 공지 컬러 (현재 인기글은 다른 색상으로 조정됨) */
	--logoURL: url(https://cdn.discordapp.com/attachments/610065145858621461/610066720887144458/N_.png); /* 로고 임포트 */
	--before: "늑대별 "; /* 접속자 수 앞 문구 */
	--after: "개";  /* 접속자 수 뒤 문구 */
}


/* 전체 폰트 적용 */
* { font-family: 'Nanum Gothic', sans-serif; }

/* 랭킹 표시 삭제 */
#board-info h1 #score-area {
    display: none;
}










/* 접속자 수 별 모양으로 변경 */
.fa-user:before {
    content: "\f005";
}

#board-info #viewers-area #viewers:before {
    content: var(--before);
    cursor: text;
}

#board-info #viewers-area #viewers:after {
    content: var(--after);
    cursor: text;
}

#board-info #viewers-area, #board-info #score-area {
    font-size: 14px;
    color: rgba(10,59,84,0.4);
    font-weight: normal;
    vertical-align: baseline;
    line-height: 18px;
    display: inline-block;
}