/* 사용자 설정 부분 (모바일용) */
:root {
	--bgColor: #EAEFF7;   /* 배경 색 */
	--mainColor: var(--maincolor);   /* 메인 컬러 */
	--mainColor3: #D8DDE8; /* 공지 컬러 (현재 인기글은 다른 색상으로 조정됨) */
	--logoURL: url(https://cdn.discordapp.com/attachments/610065145858621461/610066720887144458/N_.png); /* 로고 임포트 */
	--before: "늑대별 "; /* 접속자 수 앞 문구 */
	--after: "개";  /* 접속자 수 뒤 문구 */
}

/* 폰트 적용 */
* { 
    font-family: 'Nanum Gothic', sans-serif;
    }

/* 배경 */
body {
    background: var(--bgColor);   /* 배경색 코드 입력 */
}

/* 로고 */
header>#header-area>a>h1 {
    background: var(--logoURL) no-repeat;
    background-size: auto 32px;
    width: 128px;
    background-position: center center;
}

#board-info {
    background: var(--bgColor);
    border-top: 2px solid var(--mainColor);
    border-bottom: 2px solid var(--mainColor);
}

/* 검색 창 */
header > #header-search-bar #header-search-input {
    border: 2px solid var(--mainColor) /* 검색창 테두리 색 */
}

/* 왼쪽 메뉴 구분선 삭제*/
#board-info>a.board-right-menu {
    border-left: none;
    padding: 12px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--mainColor)
}

/* 카테고리 색상 변경 */
#article-list #article-list-category>a {
    background: #ffffff;
}

#article-list #article-list-category {
    background: #ffffff;
}

/* 공지 숨기기 버튼 */
#article-list #article-option-area>#article-option-area-toggle-btn {
    background: rgba(255, 255, 255, 0);
    width: 36px;
    height: 36px;
    line-height: 34px;
    border-top: 2px solid;
    border-color: var(--mainColor);
    margin-top: -2px;
    opacity: 1;
}

.fa-eye:before {
    color: var(--mainColor);
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;

}

.fa-eye-slash:before {
    color: var(--mainColor);
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
}


/* 트게더 메뉴 색상 */
nav#nav>.nav-header {
    background: var(--mainColor);
}

/* 트게더 메뉴 배경색 */
nav#nav {
    background: var(--bgColor);
}

/* 검색 버튼 */
header>#header-area>#header-search-link {
    color: var(--mainColor); /* 검색창 옆 돋보기 색 */
}

header > #header-search-bar #header-search-btn {
    color: var(--mainColor); /* 검색창 옆 돋보기 색 */
}

/* 트게더 로고 배너 */
header {
    border-bottom: 4px solid var(--mainColor); /* 로고 배너 하단 구분선 색 */
    background: var(--bgColor); /* 로고 배너 배경 색 */
}

/* 상단 배너 광고 뱃지 */
#header-top-notice strong.notice-badge {
    background: var(--mainColor); /* 광고 뱃지 배경 색 */
}

/* 접속자 수 색상 */
#board-info #viewers-area {
    color: rgba(68, 87, 124, 0.692); /* 접속자 수 글씨 색 */
}

/* 랭킹 삭제 */
#board-info h1 #score-area {
    display: none;
}

/* 별 모양으로 변경 */
.fa-user:before {
    content: "\f005";
}

#board-info #viewers-area #viewers:before {
    content: var(--before);
    cursor: text;
}

#board-info #viewers-area #viewers:after {
    content: var(--after);
    cursor: text;
}

/* 메인 배너 글 공지 */
#article-list>.article-list-row.notice {
    background-color: var(--mainColor3); /* 공지 배경 색 */
}

#article-list>.article-list-row.hot {
    background-color: #E7EBF1 !important;
}


/* 글 추천 수 */
#article-list>.article-list-row>.item>.list-header>span {
    background-color: var(--mainColor); /* 글 추천 수 배경 색 */
}

/* 댓글 수 */
#article-list>.article-list-row>.item>a.list-title>small.comment-count {
    color: var(--mainColor); /* 댓글 수 색 */
}

/* 삼선버튼 색상 */
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    color: var(--mainColor);
}


/* 버튼 */
.btn {
	color: #fff !important;
	background-color: var(--mainColor) !important;
	border-color: var(--mainColor) !important;
	border-radius: 0 !important;
	transition: 0.2s;
}

.btn:hover,
.btn:focus {
	color: var(--mainColor) !important;
	background-color: #fff !important;
}

/* 댓글 헤더 색상 변경 */
#article-reply-area #reply-real-area .reply > .reply-header, #article-reply-area #reply-best-area .reply > .reply-header {
    background: #fcfcfc;
}

/* 댓글 제목 색상 변경 */
#article-reply-area > .header h5 {
    color: var(--mainColor);
}

/* 댓글 에디터 색상 변경 */
.fr-popup, .fr-toolbar.fr-top {
    border-top: 3px solid var(--mainColor);
}

.fr-toolbar .fr-command.fr-btn, .fr-popup .fr-command.fr-btn {
    color: var(--mainColor);
}


/* 게시글 헤더 색상 변경 */
#article-content-wrapper>.header {
    background: #ffffff;
    padding: 0.6em 0.8em;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: var(--maincolor);
}

/* 게시글 헤더 작성자 여백 변경 */
#article-info>h2>#article-info-writer {
    margin-top: 5px;
}

#article-info {
    padding: 0.8em;
}

#article-content-wrapper>.footer {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: var(--maincolor);
}


/* 길이 조절 댓글쓰기 버튼 (https://tgd.kr/31761153) */
#comment-write-form #comment-write-button-area {
flex-direction: row;
display: flex;
}
    
.pull-left {
margin-right: 3px;
}
    
#btnRereplyCancelBtn {
 margin-right: 3px;
}
    
#writeCommentBtn {
flex: 1;
}
    
    